@charset "EUC-KR";

body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
	color: inherit;
	text-decoration: none;
}

.main {
	width: 960px;
	height: 1000px;
	margin: 0 auto;
	border: solid 1px black;
}


.info {
	border: solid 1px black;
	display: inline-block;
	padding : 30px;
}
.topbar{
	width : 100%;
	height : 30px;
	background-color : black;
}
.topbar form{
	padding-right: 50px;
}
.mainmain{
	display : absolute;
}